language: python
python:
    - "3.6"
    - "3.7"

install:
    - python -m pip install --upgrade pip
    - pip install --pre -e .'[tf]'
#    - pip install black

script:
    - pytest
#    - black --diff --check kapre
#    - black --diff --check tests
# there is inconsistency in travis black and my black

after_success:
    - coveralls
    - pip uninstall -y kapre

after_failure:
    - pip uninstall -y kapre
